body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 9%;
  box-sizing: border-box;
}

.parent-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  border: 1px solid yellow;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid blue;
}

.gallery img {
  width: 100%;
  height: 100%;
  border: 1px solid brown;
}

.low-section {
  height: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid chartreuse;
}

.img-name {
  height: 50%;
  border: 1px solid chocolate;
  width: 100%;
}

.location {
  height: 20%;
  border: 1px solid palevioletred;
  width: 100%;
}
